<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> 学校用ウェブアプリケーション「PAPA」</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      連絡事項やメッセージ、共有情報を閲覧するためには、<a "/login_form"><em>ログイン</em></a>もしくは<a "/signup"><em>サインアップ</em></a>してください<br>
      奈良県私立西大和学園高等学校の生徒向けに作成されたウェブアプリケーチョンとなっています。<br>
      未踏ジュニア２０１７田中PJのプロジェクト<br>
      Creators: Yutaro Tanaka, Manami Nakagawa, Yo Nakahara 
    </p>
  </body>
</html>