<h2>PaPaの救い</h2>
<p>
    問題、バグ等が発生すれば、こちら<a href="mailto:PAPA.welcome.noreply@gmail.com">（"PaPa"への連絡先）</a>に御連絡下さい<br>
    可能な限り迅速に対応致します。<br>
    また、新たな機能の提案なども是非お寄せ下さい。参考にさせていただき、改善いたします。PaPaも成長するのでよろしくお願いいたします。
</p>