<%= stylesheet_link_tag 'static_pages', media: 'all', 'data-turbolinks-track' => true %>
<div align='center'>
<h3><font size="60px" color="#6c3524">Hi! Welcome to PaPa</font></h3>

<%= image_tag ('PAPA.PNG'), :width => '500', :height => '140' %>
<p>
    <%= link_to image_tag("signup_logo.jpg", :size => "370x60"), "/signup" %>
</p>
<p>
    <%= link_to image_tag("login_logo.jpg", :size => "370x60" ), "/login_form" %>
</p>
</div>
<body bgcolor= "#fff799">
    