body {
    background-color: #fbffe6;
}

h1 {
    color: #4d211b;
    font-family: Avenir-Next;
    font-size: 60px;
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 10px;
}

 .name{
     font-size: 30px;
     color: #4d211b;
     padding-bottom: 10px;
     padding-left: 150px;
 }
 
 .textbox{
    width: 800px;
    height: 150px;
    padding-bottom: 0px;
    padding-left: 150px;
}

input[type="submit"] {
    display: inline-block;
    width: 120px;
    height: 60px;
    top: 50%;
    left: 50%;
    text-decoration: none;
    background: #331513;/*ボタン色*/
    color: #FFF;
    font-size: 20px;
    border-bottom: solid;
    border-radius: 3px;
}


input[type="submit"]:active{
    -ms-transform: translateY(6px);
    -webkit-transform: translateY(6px);
    transform: translateY(6px);/*下に動く*/
    border-bottom: none; 
}

.button{
    padding-top: 50px;
    padding-left: 800px;
}
