// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

 h2 {
    color: #331513;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    line-height: 1.6em;
    padding: 0 0 2px 12px;
    border-left: 10px solid #331513;
    border-bottom: 2px solid #331513;
    
}
//h3
.deadline{
    color: #331513;
    font-family: 'Batang';
    font-size: 25px;
    position: relative;
    width: 15%;
    padding: 20px;
    background-color: #f7ffcc;
    border-radius: 20px;
    box-shadow: 3px 3px 0px 0px #318c30;   
}
.deadline::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 27px;
  bottom: -18px;
  border-top: 15px solid #331513;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.deadline::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -15px;
  border-top: 15px solid #f7ffcc;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

h4{ 
    color: #6c3524;
    font-size: 50px;
    padding-left: 0px;
    padding-top: 10px;
  transform: rotate(-1deg);
   font-family: 'Caveat', cursive;
   src:url(/fonts/public/HuiFont/HuiFontP109.eot);
   src:
   url(/fonts/public/HuiFont/HuiFontP109.eot?#iefix) format('embedded-opentype'),
   url(/fonts/public/HuiFont/HuiFontP109.woff) format('woff'),
   url(/fonts/public/HuiFont/HuiFontP109.ttf) format('truetype'),
   url(/fonts/public/HuiFont/HuiFontP109.svg#HuiFontP109) format('svg');
}


.universal_todo{
    color: #9999ff;
}

.todo{
    color: #331513;
}

li{
   list-style: none;
   font-family: 'Gulim';
    font-size: 20px;
    padding-left: 10px;
   
}

input[type="text"]{
    width: 200px;
    height: 20px;
}
input[type="title"]{
    width: 200px;
    height: 20px;
}

.title{
    width: 700px;
    height: 50px;
}

textarea
{
    width: 700px;
    height: 300px;
}
.textbox{
    padding-left: 0px;
    width: 800px;
    height: 60px;
}
._textbox{
     width: 800px;
    height: 80px;
    
}

input[type="checkbox"]{
    -webkit-transform: scale(2.0);
   transform: scale(2.0);
   margin-right: 0.5em;
}

._name{
    color: #6c3524;
    font-family: Avenir-Next;
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}



.scroll_button_btm a{
    position: fixed;
    display: block;
    right:50px;
    bottom:50px;
    background: #313131;
    color:#fff;
    padding: 20px;
}
.memox huifont{
    font-size: 20px;
}

.memox{
   position:relative;
   background: #fff9b3;
   width: 85%;
   margin: 2em auto;
   padding: 1.5em 1em;
   transform: rotate(-2deg);
   box-shadow:1px 1px 4px rgba(0,0,0,0.2);
   color:#795548;
   font-size: 20px;
}
.memox::before{
   content: "To do";
   position: relative;
   display: inline-block;
   padding: 0.2em 0.1em 0.2em;
   border-bottom: 3px solid #795548;
   border-radius: 0 0 40% 5% / 0 0 15% 20%;
   font-size: 20px;
   font-weight: bold;
   transform: rotate(-5deg);
   
}
.memox::after{
   content:"";
   position: absolute;
   left: 50%;
   top: -15px;
   margin-left:-75px;
   width: 150px;
   height: 30px;
   background: rgba(245,245,245,0.7);
   box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
   transform: rotate(-2deg);
   font-size: 20px;
}
.memox ol{
   margin: 1em 0.5em 0 2em;
   padding: 0 0 0 0;
}
.memox ol li{
    font-size: 20px;
   margin-bottom: 0.5em;
}

.memox li{
    font-size: 20px;
}

._naiyou{
    font-size: 20px;
}
.p{
    font-size: 20px;
}

.universal_todo{
    color: #e65f50;
    font-family: Avenir-Next;
    font-size: 50px;
}

.todo{
    color: #6c3524;
    font-family: Avenir-Next;
    font-size: 50px;
}